<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title>Home Page - Backend2</title>
</head>
<body>
    <nav>
        <header>Backend2</header>
        <a href="/">Home</a>
    </nav>
    <main>
        <h1>Form parameters parsing demo</h1>
        <ul>
            <li><a href="/Calc/ManualParsingSingle">Manual parsing in single action</a></li>
            <li><a href="/Calc/ManualParsingSeparate">Manual parsing in separate actions</a></li>
            <li><a href="/Calc/ModelBindingParameters">Model binding (parameters)</a></li>
            <li><a href="/Calc/ModelBindingSeparateModel">Model binding (separate model)</a></li>
        </ul>
    </main>
    <footer>©2024 - Backend2</footer>
</body>
</html>
